.venv/
*.venv/
*.venv*/
*.runvenv/
*.runvenv*/
__pycache__/
*.py[cod]
backend/.venv/
backend/.runvenv/
backend/.runvenv*/
backend/__pycache__/
simulation/.venv/
simulation/.runvenv/
simulation/.runvenv*/
simulation/__pycache__/
ml/.venv/
frontend/node_modules/
frontend/dist/
Traffic/